* {
    font-family: Inter, "sans serif";
    box-sizing: border-box;
}

html {
    height: 100%;
    background: #f3f5fc;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
}

textarea {
    min-width: 80%;
    border: none;
    color: #0a3871;
    font-size: 30px;
    resize: none;
    text-transform: lowercase;
}

textarea:focus {
    outline: none;
}

#texto-normal {
    background-color: #f3f5fc;
}

#texto-encriptado {
    font-size: 30px;
    background-color: #ffffff;
    line-height: normal;
}

.container {
    height: 100vh;
    padding: 2em;
    display: flex;
    justify-content: space-evenly;
}

.logo {
    width: 120px;
    height: 48px;
}

.container-pregunta {
    height: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 70%;
    padding: 1em;
}

.botones {
    display: flex;
    gap: 1em;
    text-align: center;
}

.btn {
    height: 67px;
    width: 328px;
    cursor: pointer;
    border-radius: 24px;
    border: 1px solid #0a3871;
    font-size: 20px;
}

.btn-desencriptar {
    background: #d8dfe8;
    color: #0a3871;
}

.btn-encriptar {
    background: #0a3871;
    color: #ffffff;
}

.container-respuesta {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 24px;
    color: #0a3871;
    padding: 1em;
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.2);
}

.info {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.info img {
    max-height: 30%;
    object-fit: contain;
}

.info h3 {
    font-size: 30px;
    font-weight: bold;
}

.info p {
    font-size: 16px;
    line-height: normal;
}

.respuesta {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.respuesta .btn-copiar {
    width: 100%;
    color: #0a3871;
}

.oculto {
    display: none;
}
